<!DOCTYPE html>
<html>

<head>
  <title>Desa Ngubalan - Smart Chat Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="http://ngubalan.tulungagungdaring.id/templates/webdesa/images/icon.png">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- Ngubalan CSS v1.90 -->
  <link rel="stylesheet" href="./css/index.ejs.css">
  <link rel="stylesheet" href="./css/footer.ejs.css">
  <link rel="stylesheet" href="./css/header.ejs.css">
  <link rel="stylesheet" href="./css/sidebar.ejs.css">

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 d-none d-md-flex flex-column flex-shrink-0 p-3 bg-light">
        <div class="d-flex align-items-center mb-3 mb-md-0" style="padding: 1rem;">
          <div class="site-identity">
            <p class="site-name logo h4 text-uppercase my-0">
              <a href="http://ngubalan.tulungagungdaring.id/" rel="home" <a href="http://ngubalan.tulungagungdaring.id/" rel="home" style="font-size: 20px; font-weight: 500; color: #000; text-decoration: none;">Desa Ngubalan</a>
            </p>
            <p class="site-desc my-0 text-uppercase">Kec. Kalidawir - Kab. Tulungagung</p>
          </div>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li id="defaultOpen" class="nav-link active link-dark" onclick="openSK(event, 'ALL')">
            <a class="nav-link link-dark">All Data</a>
          </li>
          <li class="nav-link link-dark" onclick="openSK(event, 'SKTM')">
            <a class="nav-link link-dark">SKTM</a>
          </li>
          <li class="nav-link link-dark" onclick="openSK(event, 'SKIK')">
            <a class="nav-link link-dark">SKIK</a>
          </li>
          <li class="nav-link link-dark" onclick="openSK(event, 'SKMS')">
            <a class="nav-link link-dark">SKMS</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-9">
        <nav class="navbar navbar-light bg-light d-md-none">
          <div class="container px-3">
            <div class="navbar-brand d-flex align-items-center py-0">
              <div class="site-icon mr-2"><img src="http://ngubalan.tulungagungdaring.id/templates/webdesa/images/icon.png" alt="" class="icon"></div>
              <div class="site-identity px-1">
                <p class="site-name logo h4 text-uppercase my-0"><a href="http://ngubalan.tulungagungdaring.id/" rel="home">Desa Ngubalan</a></p>
                <p class="site-desc my-0 text-uppercase">Kec. Kalidawir - Kab. Tulungagung</p>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Semua SK</a></li>
                <li class="nav-item"><a class="nav-link" href="/">SKTM</a></li>
                <li class="nav-item"><a class="nav-link" href="/">SKCK</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <h1 class="container-title">Ngubalan Smart Chat Panel</h1>
          <div id="ALL" class="card table-content" style="background-color: #f7f7f7;">
            <div class="card-body">
              <table class="table table-container">
                <tr>
                  <th style="font-weight: 600; width: 4rem;">Type</th>
                  <th style="font-weight: 600;">Nama</th>
                  <th style="font-weight: 600;">NIK</th>
                  <th style="font-weight: 600;">Action</th>
                </tr>
                <% postedData.forEach((data, index) => { %>
                <tr>
                  <td><%= data[0]%></td>
                  <td><%= data[3].nama %></td>
                  <td><%= data[3].nik %></td>
                  <td>
                    <% if (data[0] === "SKTM") { %>
                    <button class="btnPrint" style="font-weight: 400;" data-id="<%= index %>" data-sktype="<%= data[0] %>" data-nama="<%= data[3].nama %>" data-nik="<%= data[3].nik %>" data-namaKepala="<%= data[3].namaKepala %>" data-nokk="<%= data[3].noKK %>" data-ttl="<%= data[3].ttl %>" data-agama="<%= data[3].agama %>" data-bekerja="<%= data[3].bekerja %>" data-alamat="<%= data[3].alamat %>" data-datetime="<%= data[1] %>">Accept Data & Print</button>
                    <% } else if (data[0] === "SKIK") { %>
                    <button class="btnPrint" style="font-weight: 400;" data-id="<%= index %>" data-sktype="<%= data[0] %>" data-namaortu="<%= data[3].namaOrtu %>" data-ttlortu="<%= data[3].ttlOrtu %>" data-alamatortu="<%= data[3].alamatOrtu %>" data-nikortu="<%= data[3].nikOrtu %>" data-nama="<%= data[3].nama %>" data-ttl="<%= data[3].ttl %>" data-alamat="<%= data[3].alamat %>" data-nik="<%= data[3].nik %>" data-destination="<%= data[3].destination %>" data-datetime="<%= data[1] %>">Accept Data & Print</button>
                    <% } else if (data[0] === "SKMS") { %>
                    <button class="btnPrint" style="font-weight: 400;" data-id="<%= index %>" data-sktype="<%= data[0] %>" data-nama="<%= data[3].nama %>" data-ttl="<%= data[3].ttl %>" data-nik="<%= data[3].nik %>" data-alamat="<%= data[3].alamat %>" data-usaha="<%= data[3].usaha %>" data-jenisalat="<%= data[3].jenisAlat %>" data-jumlahalat="<%= data[3].jumlahAlat %>" data-fungsialat="<%= data[3].fungsiAlat %>" data-jenisbbm="<%= data[3].jenisBBM %>" data-lokasispbu="<%= data[3].lokasiSPBU %>" data-datetime="<%= data[1] %>">Accept Data & Print</button>
                    <% } %>
                    <button class="btnReject" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Reject</button>
                    <button class="btnDone" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Done</button>
                  </td>
                </tr>
                <% }) %>
              </table>
            </div>
          </div>
          <table id="SKTM" class="table-content table-container">
            <tr>
              <th style="font-weight: 600;">Nama</th>
              <th style="font-weight: 600;">NIK</th>
              <th style="font-weight: 600;">TTL</th>
              <th style="font-weight: 600;">Agama</th>
              <th style="font-weight: 600;">Bekerja</th>
              <th style="font-weight: 600;">Alamat</th>
              <th style="font-weight: 600;">Action</th>
            </tr>
            <% postedData.forEach((data, index) => { %>
            <tr>
              <% if (data[0] === 'SKTM') { %>
              <td><%= data[3].nama %></td>
              <td><%= data[3].nik %></td>
              <td><%= data[3].ttl %></td>
              <td><%= data[3].agama %></td>
              <td><%= data[3].bekerja %></td>
              <td><%= data[3].alamat %></td>
              <td>
                <button class="btnPrint" style="font-weight: 400;" data-id="<%= index %>" data-sktype="<%= data[0] %>" data-nama="<%= data[3].nama %>" data-nik="<%= data[3].nik %>" data-namaKepala="<%= data[3].namaKepala %>" data-nokk="<%= data[3].noKK %>" data-ttl="<%= data[3].ttl %>" data-agama="<%= data[3].agama %>" data-bekerja="<%= data[3].bekerja %>" data-alamat="<%= data[3].alamat %>" data-datetime="<%= data[1] %>">Accept Data & Print</button>
                <button class="btnReject" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Reject</button>
                <button class="btnDone" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Done</button>
              </td>
              <% } %>
            </tr>
            <% }) %>
          </table>
          <table id="SKIK" class="table-content table-container">
            <tr>
              <th style="font-weight: 600;">Nama</th>
              <th style="font-weight: 600;">NIK</th>
              <th style="font-weight: 600;">TTL</th>
              <th style="font-weight: 600;">Agama</th>
              <th style="font-weight: 600;">Bekerja</th>
              <th style="font-weight: 600;">Alamat</th>
              <th style="font-weight: 600;">Action</th>
            </tr>
            <% postedData.forEach((data, index) => { %>
            <tr>
              <% if (data[0] === 'SKIK') { %>
              <td><%= data[3].nama %></td>
              <td><%= data[3].nik %></td>
              <td><%= data[3].ttl %></td>
              <td><%= data[3].agama %></td>
              <td><%= data[3].bekerja %></td>
              <td><%= data[3].alamat %></td>
              <td>
                <button class="btnPrint" style="font-weight: 400;" data-id="<%= index %>" data-sktype="<%= data[0] %>" data-namaortu="<%= data[3].namaOrtu %>" data-ttlortu="<%= data[3].ttlOrtu %>" data-alamatortu="<%= data[3].alamatOrtu %>" data-nikortu="<%= data[3].nikOrtu %>" data-nama="<%= data[3].nama %>" data-ttl="<%= data[3].ttl %>" data-alamat="<%= data[3].alamat %>" data-nik="<%= data[3].nik %>" data-destination="<%= data[3].destination %>" data-datetime="<%= data[1] %>">Accept Data & Print</button>
                <button class="btnReject" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Reject</button>
                <button class="btnDone" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Done</button>
              </td>
              <% } %>
            </tr>
            <% }) %>
          </table>
          <table id="SKMS" class="table-content table-container">
            <tr>
              <th style="font-weight: 600;">Nama</th>
              <th style="font-weight: 600;">NIK</th>
              <th style="font-weight: 600;">TTL</th>
              <th style="font-weight: 600;">Usaha</th>
              <th style="font-weight: 600;">Jenis Alat</th>
              <th style="font-weight: 600;">Jumlah Alat</th>
              <th style="font-weight: 600;">Action</th>
            </tr>
            <% postedData.forEach((data, index) => { %>
            <tr>
              <% if (data[0] === 'SKMS') { %>
              <td><%= data[3].nama %></td>
              <td><%= data[3].nik %></td>
              <td><%= data[3].ttl %></td>
              <td><%= data[3].usaha %></td>
              <td><%= data[3].jenisAlat %></td>
              <td><%= data[3].jumlahAlat %></td>
              <td>
                <button class="btnPrint" style="font-weight: 400;" data-id="<%= index %>" data-sktype="<%= data[0] %>" data-nama="<%= data[3].nama %>" data-ttl="<%= data[3].ttl %>" data-nik="<%= data[3].nik %>" data-alamat="<%= data[3].alamat %>" data-usaha="<%= data[3].usaha %>" data-jenisalat="<%= data[3].jenisAlat %>" data-jumlahalat="<%= data[3].jumlahAlat %>" data-fungsialat="<%= data[3].fungsiAlat %>" data-jenisbbm="<%= data[3].jenisBBM %>" data-lokasispbu="<%= data[3].lokasiSPBU %>" data-datetime="<%= data[1] %>">Accept Data & Print</button>
                <button class="btnReject" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Reject</button>
                <button class="btnDone" style="font-weight: 400;" data-id="<%= index %>" data-notelp="<%= data[2]%>">Done</button>
              </td>
              <% } %>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
    <footer id="colophon" class="site-footer text-center" class="container-footer" role="contentinfo">
      <div class="footer-info py-4 py-md-5">
        <div class="container">
          <div class="d-md-flex justify-content-md-around align-items-md-center">
            <div class="text-center">
              <div class="footer-identity d-md-flex align-items-md-center">
                <div class="site-icon footer-icon mx-auto d-block mr-md-3 my-2 my-md-0">
                  <img src="http://ngubalan.tulungagungdaring.id/templates/webdesa/images/icon.png" alt="" class="" width="60" height="60">
                </div>
                <div class="text-uppercase">
                  <p>Pemerintah desa</p>
                  <h5>Ngubalan </h5>
                  <h6>Kec. Kalidawir – Kab. Tulungagung</h6>
                </div>
              </div>
            </div>
            <div class="text-center">
              <ul class="list-unstyled list-ionicons w-auto mr-auto mt-3 mt-md-0 mb-0 text-left d-inline-block d-md-block footer-contact">
                <li class="my-2"><i class="ionicons ion-ios-home"></i> Jalan Pakunden No. 1 Ds. Ngubalan Kec. Kalidawir Tulungagung</li>
                <li class="my-2"><i class="ionicons ion-ios-call"></i> 0847 3679 5442 </li>
                <li class="my-2"><i class="ionicons ion-ios-mail"></i> desangubalan [at] gmail.com</li>
                <li class="my-2"><i class="ionicons ion-ios-planet"></i> http://ngubalan.tulungagungdaring.id</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="site-info py-4">
          <p class="mb-0">
            <span class="d-inline-block">© <a href="http://ngubalan.tulungagungdaring.id/">Pemerintah Desa Ngubalan</a>. Hak cipta dilindungi undang-undang.</span> <span class="d-inline-block">Jejaring <a href="http://desadaring.id/" target="_blank">Desa Daring</a> <a href="http://tulungagungdaring.id/" target="_blank">Tulungagung</a>.</span>
          </p>
        </div>
      </div>
      <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket" style="display: inline;"></a>
    </footer>
  </div>
  </div>

  <script src="./js/index.ejs.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

</html>